.fidWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 80px;
  .fidHeader {
    img {
      width: 285px;
    }
  }
  .fidText {
    display: flex;
    justify-content: center;
    img {
      width: 210px;
    }
  }
  #findIdForm {
    padding: 0;
    .inputArea {
      display: grid;
      grid-template-columns: 50px 300px 120px;
      grid-template-rows: repeat(4, 0.2fr);
      grid-gap: 10px;
      .id {
        grid-column: 1;
        grid-row: 1;
        display: flex;
        justify-content: center;
        position: relative;
        left: 5px;
      }
      .inputId {
        grid-column: 2;
        grid-row: 1;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        input {
          position: relative;
          left: 30px;
          width: 230px;
          height: 25px;
          background-color: transparent;
          border: rgba($color: #c79f97, $alpha: 0.8) solid 2.5px;
        }
      }
      .email_pw {
        grid-column: 1;
        grid-row: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 5px;
        img {
          height: 32px;
        }
      }
      .inputEmail_pw {
        grid-column: 2;
        grid-row: 2;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        input {
          position: relative;
          left: 30px;
          width: 230px;
          height: 25px;
          background-color: transparent;
          border: rgba($color: #c79f97, $alpha: 0.8) solid 2.5px;
        }
      }
      .authentic {
        grid-column: 1;
        grid-row: 3;
        display: flex;
        justify-content: center;
        position: relative;
        left: 5px;
        img {
          width: 140px;
          height: 32px;
        }
      }
      .authInput {
        grid-column: 2 / 3;
        grid-row: 3;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        input {
          position: relative;
          left: 30px;
          width: 230px;
          height: 25px;
          background-color: transparent;
          border: rgba($color: #c79f97, $alpha: 0.8) solid 2.5px;
        }
      }
      .authBtnArea {
        grid-column: 3 / 4;
        grid-row: 2;
        display: grid;
        justify-content: center;
        .fpwBtn {
          position: relative;
          top: 1px;
          width: 90px;
        }
      }
      .authBtnArea2 {
        grid-column: 3 / 4;
        grid-row: 3;
        display: grid;
        justify-content: center;
        .authBtn {
          position: relative;
          top: 1px;
          width: 90px;
        }
      }
    }
    .etcArea {
      display: grid;
      grid-template-columns: 240px 240px;
      grid-template-rows: repeat(3, 40px);
      column-gap: 10px;
      .errorMessage {
        grid-column: 1;
        grid-row: 1;
        display: flex;
        justify-content: flex-start;
      }
      .goToLogin {
        grid-column: 2;
        grid-row: 1;
        display: flex;
        justify-content: flex-end;
        height: 30px;
      }
      .goTojoin {
        grid-column: 2;
        grid-row: 2;
        display: flex;
        justify-content: flex-end;
        height: 30px;
      }
      .fid {
        grid-column: 2;
        grid-row: 3;
        display: flex;
        justify-content: flex-end;
        height: 30px;
        width: 210px;
        position: relative;
        left: 28px;
      }
    }
  }
}
