form:not(.modal__form, .alert__form, .siteForm, .edit-profile__form) {
  max-width: 580px;
  margin: 0 auto;
  padding: 30px;
  background-color: rgba($color: #fcf8ec, $alpha: 1);
}
.main_container {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 170px 700px 110px;
  grid-auto-rows: minmax(200px auto);
  grid-gap: 5px;
  justify-content: center;
  .main_left {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    height: 80vh;
    align-items: flex-end;
    justify-content: space-between;
    img {
      position: relative;
      right: -5px;
      width: 150px;
    }
  }
  .sharecomingsoon {
    position: relative;
    margin-left: 20px;
    img {
      width: 750px;
    }
  }
  .groupprofile {
    position: relative;
    margin-left: 20px;
    img {
      width: 750px;
    }
  }
  .notifications {
    span {
      color: red;
    }
  }
  .inviteComming {
    position: relative;
    margin-left: 20px;
    img {
      width: 750px;
    }
  }
  .main_center {
    overflow: hidden scroll;
    grid-column: 2 / 3;
    grid-row: 1;
    align-items: flex-end;
    min-height: 500px;
    height: 80vh;
    min-width: 720px;
    border: solid 2.5px #c79f97;
    justify-content: center;
    padding: 10px 0 0 10px;
    .forlogin {
      margin: 120px 0 20px 0;
      display: flex;
      justify-content: center;
      font-size: 24px;
      font-weight: bold;
    }
    div {
      color: #c79f97;
      font-weight: bold;
    }
    input[type="checkbox"] {
      justify-self: baseline;
      width: 10px;
      height: 10px;
      display: inline-block;
      background: transparent;
      border: #c79f97 solid 2px;
      cursor: pointer;
      &:checked {
        background-color: #a77f77;
      }
    }
    .fieldAlign {
      display: grid;
      grid-template-columns: 20px 120px 230px 230px 35px 35px;
      grid-template-rows: 1fr;
      grid-gap: 5px;
      align-items: center;
      div:nth-child(1) {
        height: 14px;
        display: flex;
        justify-self: center;
        align-self: center;
        grid-column: 1 / 2;
        grid-row: 1;
      }
      div:nth-child(2) {
        grid-column: 2 / 3;
        grid-row: 1;
      }
      div:nth-child(3) {
        grid-column: 3 / 4;
        grid-row: 1;
      }
      div:nth-child(4) {
        grid-column: 4 / 5;
        grid-row: 1;
      }
    }
    .siteForm {
      .form_container {
        display: grid;
        grid-template-columns: 20px 120px 230px 230px 35px 35px;
        gap: 5px;
        opacity: 0.9;
        span {
          display: flex;
          align-items: center;
          max-height: 35px;
          img {
            height: 25px;
          }
        }
        div {
          word-wrap: normal;
          text-overflow: ellipsis;
        }
        div:nth-child(1) {
          display: flex;
          justify-self: center;
          align-self: center;
          position: relative;
          top: 2.2px;
        }
        div:nth-child(2) {
          display: flex;
          color: #5d5d5d;
        }
        div:nth-child(3) {
          color: #5d5d5d;
          display: flex;
          justify-self: left;
          align-self: center;
          max-width: 230px;
        }
        div:nth-child(4) {
          display: flex;
          justify-self: left;
          align-self: center;
          position: relative;
          color: #5d5d5d;
          max-width: 230px;
          span {
          }
        }
        div:nth-child(5) {
          grid-column: 2 / 3;
          grid-row: 2;
          color: #5d5d5d;
          a {
            img {
              width: 90px;
            }
          }
        }
        div:nth-child(6) {
          grid-column: 3 / 4;
          grid-row: 2;
          color: #5d5d5d;
          a {
            img {
              width: 90px;
            }
          }
        }
        div:nth-child(n + 7) {
          color: #5d5d5d;
        }
        .siteEditBtn {
          display: flex;
          justify-content: center;
          max-height: 19px;
          width: 10px;
          img {
            width: 10px;
            height: 19px;
          }
        }
        .deleteRowBtn {
          max-height: 35px;
          img {
            width: 15px;
            height: 19px;
          }
        }
      }
      .hidden {
        display: none;
      }
    }
    .addBtn {
      color: #c79f97;
      font-size: 30px;
      margin: 5px 48%;
      &:hover {
        cursor: pointer;
      }
      &:active {
        transform: scale(0.95);
      }
    }
  }
  .main_right {
    grid-column: 3 / 4;
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: space-between;
    .filebox {
      min-height: 215px;
      .loginBtnAll {
        img {
          width: 80px;
          left: 29px;
          top: -0.157px;
        }
      }
      .deleteBtnAll {
        img {
          width: 80px;
          left: 29px;
          top: -0.159px;
        }
      }
      .fileboxForm {
        margin: 0;
        background-color: #c79f97;
        padding: 0;
        label {
          width: 50px;
          background-color: #c79f97;
          cursor: pointer;
          &:active {
            transform: scale(0.98);
          }
          img {
            display: none;
            width: 80px;
          }
        }
        input[type="file"] {
          /* 파일 필드 숨기기 */
          position: absolute;
          width: 1px;
          height: 1px;
          padding: 0;
          margin: -1px;
          overflow: hidden;
          clip: rect(0, 0, 0, 0);
          border: 0;
        }
      }
    }
    img {
      position: relative;
      right: -9px;
      width: 150px;
      z-index: 0;
    }
  }
}
