header {
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 1200px;
  .header__logo {
    color: #5d5d5d;
    font-size: 38px;
    img {
      width: 153px;
    }
  }
  .bannerInHeader {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    height: 125px;
    margin-right: 110px;
    justify-content: center;
    align-items: center;
    .banner_header {
      width: 600px;
      height: 125px;
      img {
        width: fit-content;
      }
    }
  }
  nav {
    ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      color: #5d5d5d;
      li {
        margin-left: 10px;
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          color: #c79f97;
          img {
            width: 65px;
          }
        }
        .cs {
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 65px;
          }
        }
        .login_header {
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            position: relative;
            left: 5px;
            width: 47px;
          }
        }
        .join_header {
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 62px;
          }
        }
      }
      i {
        font-size: 16px;
      }
    }
  }
  .header__btn {
    padding: 5px 10px;
    border-radius: 5px;
  }
  .header__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  img {
    width: 175px;
  }
}
