doctype html
html(lang="ko")
  head 
    title #{pageTitle} | #{siteName}
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")
    link(rel="stylesheet", href="/static/css/styles.css")
  body
    main 
      div.loginWrap
        div.loginHeader 
          img.logo(src="https://defrag-autologin.herokuapp.com/src/images/logo.png", alt="리뷰단짝")
        if errorMessage   
          span.errormessage=errorMessage
        div.loginContainer
          div.loginForm 
            form#loginForm(method="post") 
              div.loginContents 
                div.loginField
                  a.join(href="/join")  회원가입
                div.loginField 
                  b ID 
                  input(type="text", name="userId", required)
                div.loginField 
                  b PW  
                  input(type="password", name="password", required)
                div.loginField
                  div.loginBtn  
                    a.login(onclick="submit()") 
                      img.loginBtn(src="img/login.png")
                  div.loginField2
                    //- span 로그인저장
                      input#saveLogin(type="checkbox", name="saveLogin") 
                    //- a(href="#",value="아이디찾기") 아이디찾기
                    //- a(href="#",value="비밀번호찾기") 비밀번호찾기
          div.loginImg
            img.character(src="img/character.png", alt="리뷰단짝")
    script.
      function submit(){
        const loginForm = document.querySelector("#loginForm")
        loginForm.submit()
      }
  include partials/footer