include mixins/message
doctype html
html(lang="ko")
  head 
    title #{siteName}
    meta(name="naver-site-verification" content="beb63f6c2c4f0315d96e5bdd6e6741681f21a5ea")
    meta(name="description", content="내가 원하는 사람에게 로그인정보를 손쉽게 공유할 수 있습니다.")
    meta(property="og:type", content="website")
    meta(property="og:title", content="로그인 비서")
    meta(property="og:description", content="내가 원하는 사람에게 로그인정보를 손쉽게 공유할 수 있습니다.")
    meta(property="og:url", content="http://idpw.kr")
    meta(name="Robots", content="INDEX, FOLLOW")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    link(rel="shortcut icon", href="/img/favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")
    link(rel="stylesheet", href="/static/css/styles.css")
    script(type="text/javascript", src="https://oss.sheetjs.com/sheetjs/xlsx.full.min.js")
    script(data-ad-client="ca-pub-2245738259481185", async, src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
    script(type="text/javascript" src="//wcs.naver.net/wcslog.js")
    script.
      if(!wcs_add) var wcs_add = {};
      wcs_add["wa"] = "eecd36f07163e0";
      if(window.wcs) {
        wcs_do();
      }
  body
    if messages.error
      +message("error",messages.error)
    if messages.info
      +message("info", messages.info)
    if messages.success
      +message("success", messages.success)
    main 
      div.alignDiv
        block content
          div.joinHeader 
            a(href="/") 
              img.logo(src="img/loginsecretary_beta_logo.png", alt="로그인비서")
          div.joinForm
            div.middle 
              form#joinForm(method="POST")
                div.contents
                  div.left 
                    img(src="/img/profile/profile_id.png", alt="아이디")
                  div.center
                    input(name="userId", type="text", required)
                  div.right
                    //- input(type="button", value="중복확인", onclick="idCheck()")
                div.contents
                  div.left 
                    img(src="/img/profile/profile_pw.png", alt="비밀번호")
                  div.center
                    input(name="password", type="password", required)
                  div.right
                div.contents
                  div.left 
                    img(src="/img/profile/join_me_13.jpg", alt="비밀번호 확인")
                  div.center
                    input(name="password2", type="password", required)
                  div.right
                div.contents
                  div.left 
                    img(src="/img/profile/profile_name.png", alt="이름")
                  div.center
                    input(name="name", type="text", required)
                  div.right
                div.contents
                  div.left 
                    img(src="/img/profile/profile_pix_nname.png", alt="닉네임")
                  div.center
                    input(name="nickname", type="text")
                  div.right
                div.contents
                  div.left 
                    img(src="/img/profile/profile_ponen.png", alt="전화번호")
                  div.center
                    .phoneNum1
                      input.phoneNum(name="phoneNum1", type="text", value="010")
                    .phoneNum2 &nbsp;-&nbsp;
                      input.phoneNum(name="phoneNum2", type="text", required)
                    .phoneNum3 &nbsp;-&nbsp;
                      input.phoneNum(name="phoneNum3", type="text", required)
                  div.right
                div.contents
                  div.left 
                    img(src="/img/profile/profile_zipcode.png", alt="우편번호")
                  div.center
                    input#postcode.postcode(placeholder="검색버튼을 눌러주세요", name="zipCode", type="text" ,readonly,required)
                    a(onclick="execDaumPostcode()")
                      img(src="/img/profile/profile_searchbtn.png", alt="검색")
                  div.right
                div.contents
                  div.left 
                    img(src="/img/profile/profile_address.png", alt="주소")
                  div.center
                    input#address(name="address", type="text", readonly, required)
                  div.right
                div.contents
                  div.left 
                    img(src="/img/profile/profile_detailedaddress.png", alt="상세주소")
                  div.center
                    input#detailAddress(name="detailAddress", type="text" )
                  div.right
                div.contents
                  div.left 
                    img(src="/img/profile/profile_email.png", alt="이메일")
                  div.center
                    .email1
                      input(name="email1", type="text", required)
                    .email2 
                      |&nbsp;
                      img(src="/img/profile/profile_@.png", alt="@")
                      |&nbsp;
                      input#email2(name="email2", type="text", required)
                    .email3 
                      select#emailSelect(name="emailSelect", onchange="changeSelectedEmail(this)") 
                        option(value="직접입력") 직접입력
                        option(value="gmail.com") gmail.com
                        option(value="naver.com") naver.com
                        option(value="nate.com") nate.com
                        option(value="daum.net") daum.net
                        option(value="hanmail.net") hanmail.net
                  div.right
                div.contents
                  div.left 
                    img(src="/img/profile/profile_birthdate.png", alt="생년월일")
                  div.center
                    input(placeholder="ex)20120102" ,name="birth", type="text", required)
                  div.right
                div.contents
                  div.left 
                    img(src="/img/profile/profile_sex.png", alt="성별")
                  div.center
                    label(for="radio") 
                      span 
                        img(src="/img/profile/profile_man.png", alt="남성")
                        input#male(name="gender", type="radio", value="male") 
                      span 
                        img(src="/img/profile/profile_woman.png", alt="여성")
                        input#female(name="gender", type="radio", value="female") 
                  div.right
                div.contents
                  div.left
                    img(src="/img/profile/profile_agree.png", alt="광고수신동의")
                  div.center
                    label(for="checkbox") 
                      span 
                        img(src="/img/profile/profile_email_e.png", alt="email")
                        input(name="allowingEmail", type="checkbox", value="Email")
                      span 
                        b / 
                      span 
                        b SMS
                        input(name="allowingSMS", type="checkbox", value="SMS")
                  div.right
                div.contents
                  div.left 
                  div.center.submitBtn
                      a(onclick="submit()")
                        img.joinBtn(src="img/join/join_btn.png")
                  div.right
            .rightContainer 
              img(src="/img/stella2.png", alt="")
              .text 개인회원 가입
            script(src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js") 
            script.
              const inputEmail = document.querySelector("#email2")
              const selectedEmail = document.querySelector("#emailSelect")
              function idCheck(){

              }
              function changeSelectedEmail(){
                if(selectedEmail.options[selectedEmail.selectedIndex].text !== "직접입력"){
                  inputEmail.value = selectedEmail.options[selectedEmail.selectedIndex].text
                }else{
                  inputEmail.value = "";
                }
              }
              function submit(){
                const joinForm = document.querySelector("#joinForm")
                joinForm.submit();
              }
              function execDaumPostcode() {
                new daum.Postcode({
                  oncomplete: function (data) {
                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
                    // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    var addr = ""; // 주소 변수
                    var extraAddr = ""; // 참고항목 변수
                    //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                    if (data.userSelectedType === "R") {
                      // 사용자가 도로명 주소를 선택했을 경우
                      addr = data.roadAddress;
                    } else {
                      // 사용자가 지번 주소를 선택했을 경우(J)
                      addr = data.jibunAddress;
                    }
                    // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                    if (data.userSelectedType === "R") {
                      // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                      // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                      if (data.bname !== "" && /[동|로|가]$/g.test(data.bname)) {
                        extraAddr += data.bname;
                      }
                      // 건물명이 있고, 공동주택일 경우 추가한다.
                      if (data.buildingName !== "" && data.apartment === "Y") {
                        extraAddr += extraAddr !== "" ? ", " + data.buildingName : data.buildingName;
                      }
                      // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                      //- if(extraAddr !== ''){
                      //-     extraAddr = ' (' + extraAddr + ')';
                      //- }
                      //- // 조합된 참고항목을 해당 필드에 넣는다.
                      //- document.getElementById("extraAddress").value = extraAddr;
                    }
                    //- else {
                    //-     document.getElementById("extraAddress").value = '';
                    //- }
                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    document.getElementById("postcode").value = data.zonecode;
                    document.getElementById("address").value = addr;
                    // 커서를 상세주소 필드로 이동한다.
                    document.getElementById("detailAddress").focus();
                  },
                }).open();
              }
        include partials/footer
  block scripts