extends base
block content
    if errorMessage
        span.errormessage=errorMessage
    form(method="POST")
        input(placeholder="아이디", name="userId", type="text", required)
        input(placeholder="비밀번호", name="password", type="password", required)
        input(placeholder="비밀번호 확인", name="password2", type="password", required)
        input(placeholder="이름", name="name", type="text", required)
        input(placeholder="닉네임", name="nickname", type="text")
        input(placeholder="전화번호", name="phoneNumber", type="tel",required)
        input(placeholder="주소", name="address", type="text", required)
        input(placeholder="이메일", name="email", type="email", required)
        input(placeholder="생일", name="birth", type="select", required)
        label(for="radio") 
            span 성별
            br
            span 남성
                input#male(name="gender", type="radio", value="male") 
            span / 
            span 여성
                input#female(name="gender", type="radio", value="female") 
        label(for="checkbox") 
            span 수신동의
            br
            span Email
                input(name="allowingEmail", type="checkbox", value="Email")
            span / 
            span SMS
                input(name="allowingSMS", type="checkbox", value="SMS")
        input(type="submit", value="가입")
    div.auth-switch
        span 이미 계정이 있습니까? 
        a(href="/login") 로그인 하러가기 &rarr; 